<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    {% block page_css %} {% endblock %}
    <title>{% block page_title %} {% endblock %}</title>

</head>

<body>
    {% block content%}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/js/bootstrap.min.js"></script>
</body>

</html>